.menu-button {
    visibility: hidden;
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 2000;
    height: 40px;
    width: 40px;
    border: 1px solid var(--the-black);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    outline: none;
    background-color: #00000000;
}

.stripe {
    width: 24px;
    height: 1px;
    background-color: var(--the-black);
}

.exit-cross {
    color: var(--the-black);
}

@media only screen and (max-width: 1025px) {
    .menu-button {
        visibility: visible;
    }
}