.page-link {
    margin: 10px 0;
    color: var(--the-black);
    background-color: white;
    padding: 10px 0;
    border: 3px solid var(--the-black);
    outline: none;
    cursor: pointer;
}

.page-link a {
    text-decoration: none;
    font-size: 14px;
    color: inherit;
}

.page-link:hover {
    background-color: var(--the-black);
    color: white;
}